absl-py==0.13.0
asgiref==3.4.1
astor==0.8.1
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.3
dataclasses==0.8
Django==3.2.5
gast==0.5.0
google-api-core==1.31.0
google-auth==1.33.0
google-cloud-speech==2.5.0
google-cloud-vision==2.0.0
google-pasta==0.2.0
googleapis-common-protos==1.53.0
grpcio==1.38.1
h5py==3.1.0
idna==3.2
importlib-metadata==4.6.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
libcst==0.3.19
Markdown==3.3.4
mypy-extensions==0.4.3
numpy==1.19.5
opencv-python==4.5.3.56
packaging==21.0
proto-plus==1.19.0
protobuf==3.17.3
psycopg2==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
rsa==4.7.2
scipy==1.5.4
six==1.16.0
sqlparse==0.4.1
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0
termcolor==1.1.0
typing-extensions==3.10.0.0
typing-inspect==0.7.1
urllib3==1.26.6
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0
